<div id="messages" hx-swap-oob="beforeend">
  <div class="m-1 w-3/4 rounded-lg border-l-4 border-violet-900 bg-gradient-to-r from-violet-100 p-1">
    <div class="m-4">
	  <div class="mb-2 flex justify-between">
	    <p class="font-bold text-slate-700">{{.Username}}</p>
	    <div class="text-slate-400">2 / 24 / 24 21:03</div>
	  </div>
	  {{ range .RawText }}
	    <p class="">{{.}}</p>
	  {{ end }}
    </div>
  </div>
</div>
